openapi: 3.2.0
info:
  title: RouterPlex Responses API
  version: 1.0.0
  description: RouterPlex is an AI gateway that exposes OpenAI-compatible chat completions and image generation, a Responses route for Codex custom providers, and Anthropic-compatible messages through a RouterPlex API key.
  contact:
    url: https://docs.routerplex.com/
servers:
- url: https://api.routerplex.com/v1
  description: RouterPlex production API
security:
- RouterPlexApiKey: []
tags:
- name: Responses
paths:
  /responses:
    post:
      summary: Create an OpenAI Responses API response for Codex
      operationId: createCodexResponse
      description: Use this compatibility route for Codex custom model providers. Other OpenAI-compatible clients should use Chat Completions unless their client requires Responses.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - model
              - input
              properties:
                model:
                  type: string
                  description: A model ID from the RouterPlex catalog.
                input:
                  description: Responses API input.
                stream:
                  type: boolean
                  default: false
              additionalProperties: true
      responses:
        '200':
          description: Responses API response, or a streaming response when stream is true.
        '401':
          description: Missing or invalid API key.
        '429':
          description: Rate limit or spend limit reached.
      tags:
      - Responses
components:
  securitySchemes:
    RouterPlexApiKey:
      type: http
      scheme: bearer
      bearerFormat: RouterPlex API key
      description: Create and manage API keys in the RouterPlex dashboard.
